img {
  display: block;
  margin: 0;
  max-width: 100%;
  width: 30px
}


ul.nav{
  display: flex;
  list-style-type: none;
  background-color: #333;
  float: left;
  
}
ul.nav li a:hover:not(.active) {background-color: #111;}

li a {
  
  padding: 14px 16px;
  display: block;
  
}

div.dropdown {
  float: right;
  display: block;
}

.menu{
  float: left;
  display: block;
}

.home{
  width: 60px; 
  display: block;
  float: left;
}

ul.nav li a.active {background-color: red;}

.navbar2 {
  overflow: hidden;
  background-color: #333;
}

.navbar2  a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  justify-content: space-between;
}

.dropdown {
  scroll-padding-right: auto;
  float: auto;
  overflow: hidden, scroll;
  padding: 14px 16px;
  overflow-y: auto;
  
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0px auto;
}

.search-button{
  text-align: center;
}


.navbar2 a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 160px;
  z-index: 1;
  right: 10px;
}

.dropdown-content a {
  float: none;
  background-color:red;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  
}

.dropdown:hover .dropdown-content {
  display: block;
  
}

