html{
    position: relative;
    min-height: 100%;
  }
  
  body { 
      background-color: white;
      margin: 0;
      margin-bottom: 60px;
  }
  
  img.abbruch {
    display: block;
    margin:  auto;
    max-width: 100%;
    width: 30px
  }
  
  img.senden {
    display: block;
    margin:  auto;
    max-width: 100%;
    width: 30px
  }
  
  main {
      width: auto;
      margin: auto;
  }
  h1, h2 {
      color: black;
  }
  
  td {
    color: black;
  }
  
  
  .error {color: #FF0000;}
  
  .kommentar {
    margin-bottom: 10px;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
  }
  
  .main-container{
    padding: 12px 100px;
    
  }
  .forums-list {
    padding: 0;
  }
  .forum_img {
    margin-right: 20px;
    height: 30px;
    
  }
  p{
    color: black;
  }
  
  a {
      text-decoration: none;
      color: black;
  }
  h1, h4, ol {
      margin: 0;
  }
  p {
      margin: 5px 0;
  }
  .top-bar {
      background-color: skyblue;
      padding: 0 40px;
  }
  .main {
      background-color: #F6F6EF;
      padding: 10px 15px;
  }
  .row {
      padding: 5px 0;
  }
  .bottom {
      display: flex;
      color: grey;
      font-size: 12px;
  }
  .timestamp {
      padding-right: 10px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  h1, h4, ol {
    margin: 0;
  }
  p {
    margin: 5px 0;
  }
  textarea {
    width: 80%;
    height: 80px;
  }
  button {
    display: block;
    margin: 10px 0;
  }
  .top-bar {
    background-color: skyblue;
    padding: 0 40px;
  }
  .main {
    background-color: #F6F6EF;
    padding: 10px 40px;
  }
  .comments {
    margin: 40px 0;
  }
  .comment {
    margin: 10px 0;
  }
  .row {
    padding: 5px 0;
  }
  .bottom, .top-comment {
    display: flex;
    color: grey;
    font-size: 12px;
  }
  .timestamp {
    padding-right: 10px;
  }
  .comment-ts {
    padding-left: 10px;
  }
  
  